/* .product-item {
    margin-left: 70px;

} */

/* .first-seller {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
} */

.hard-container {
  display: flex;
}

.hart-icon {
  text-align: end;
}

/* .product-info {
    margin-top: 20px;
} */

/* .product-item img {
    height: 167px;
    width: 156px;
} */

.star-icon-container {
  color: #FAAF00;
  display: flex;

}

.price-container {
  display: flex;
}

.seal-price {
  color: red;
}

.plus-btn {
  border: 1px solid #D23F57;
  border-radius: 5px;
  color: #D23F57;
  text-align: end;
}

.plus-btn:hover {
  background-color: #e04f69;
  color: #3b2c2c;
}

.product-img img {
  /* width: 131px;height: auto; */
}

.product-container {
  background-color: #F3F5F9;
  ;
}